#питон файлы 
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

#бд
*.db
*.sqlite
*.sqlite3

#логи
*.log
logs/
*.log.*

#IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

#файлы бота
photo.jpg
video.mp4
*.mp4
*.jpg
*.jpeg
*.png

#временные файлы
temp/
tmp/
*.tmp

#railway
railway.json
.railway/

# Деплой
*.pid
*.pid.lock